body {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: #222222; /* Light Gray */
  color: white; /* Dark Gray for text */
  min-height: 100vh;
}

html, body {
  overflow-x: hidden;
}

#forumHead {
  color: white; /* Dark Gray for text */
  text-transform: uppercase;
  text-align: center;
}

#navigation {
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #121212;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

#navigation a {
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}

#navigation a:hover {
  color: orange;
}

h2 {
  text-align: center;
}

#courseExamples {
  border: 2px solid green;
}

#equation {
  text-align: center;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: orange;
}

a:active{
  color: green;
}


.content {
  display: flex;
  flex: 1;
  color: white;
  max-width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't push content out */
}

.leftRight {
  display: flex;
}

.left,
.right {
  flex: 1;
  margin: 5px;
  text-align: justify;
}

.left h3,
.right h3 {
  text-align: center;
  text-transform: uppercase;
}

.topics {
  border-radius: 5px;
  background-color: #222222;
}

p,
h3 {
  margin: 5px;
  padding: 2px;
}

aside {
  width: 100px;
  background-color: #121212;
  color: white;
  padding: 20px;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#aFormat {
  color: blue;
  text-decoration-line: underline;
}

#nonFormat{
  text-align: left;
}
aside a {
  display: block;
  padding: 5px;
}

aside .course {
  position: relative;
}

aside .subCourse {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  margin-left: 20px;
}

aside .course:hover .subCourse {
  max-height: 500px;
  opacity: 1;
}
.table-container {
  display: flex;
  justify-content: safe;
}
.table-container table {
  width: 15%; /* Adjust the width as needed */
  margin-right: 10px;
}
.table-wrapper {
  max-width: 15%;
}

main {
  flex: 1;
  border-radius: 2px;
  border: 2px solid red;
  padding: 10px;
}

pre {
  background-color: #222222;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

table {
  align-self: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

footer {
  text-align: center;
  text-transform: uppercase;
  margin-top: auto;
}
img {
  max-width: 1000px;
}
