.main-content {
    background-color: #222222; /* Light Gray */
    color: white; /* Dark Gray for text */
}

h1 {
    text-align: center;
}

.main-content .tsLeft {
    position: relative;
    margin-left: 75px;
    width: 45%;
    /*border: 1px solid red;*/
}