.main-content {
     background-color: #222222; /* Light Gray */
    color: white; /* Dark Gray for text */
}

h1 {
    text-align: center;
}

.explanation {
    text-align: center;
}

.main-content .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-content .tsLeft {
    margin-left: 75px;
    width: 45%;
    border: 1px solid red;
}

.main-content .tsRight {
    margin-right: 75px;
    width: 45%;
    border: 1px solid red;
}